:root{
--yellow-text:hsl(35, 77%, 62%);
--soft-red:hsl(5, 85%, 63%);
--aside-text:hsl(233, 8%, 79%);
--body-text:hsl(236, 13%, 42%);
--dark-blue:hsl(240, 100%, 5%);
--off-white: hsl(36, 100%, 99%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    font-family: Verdana;
    color: var(--body-text);
}

.container{
    max-width: 970px;
    margin: 0 auto;
    width: 94%;
}

.desktop{
    display: none;
}



img{
    max-width: 100%;

}


/* Typography */

p{
    line-height: 1.5;
}

.tech_links:hover,
.menu_items:hover{
    color: var(--soft-red);
}

.title,
.tech_links,
.menu_items{
    color: var(--dark-blue);
}

.secondary_title,
.new_links:hover{
    color: var(--yellow-text);
}

.title{
    font-size: 2.5em;
    margin-bottom: .3em;
}

.main_copy{
    margin-bottom: 1.3em;
}

.secondary_title{
    margin-bottom: 1.05em;
}

.new_links{
    color: var(--off-white);
    display: block;
    text-decoration: none;
    margin-bottom: .5em;
}

.new_copy{
    padding-bottom: 1em;
}

.tech_news_no{
    font-size: 2em;
    color: var(--aside-text);
    margin-bottom: .3em;
}

.tech_links{
    text-decoration: none;
    display: block;
    margin-bottom: .8em;
}

.menu_items{
    display: block;
    margin-bottom: 2.5em;
    text-decoration: none;
}

/*  Littles */

.hamburger_menu,
.close_button,
.read-more_btn{
    cursor: pointer;
}

.read-more_btn{
    width: 12em;
    padding: 1.1em 0;
    border-radius: 0;
    border: none;
    background-color: var(--soft-red);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    margin-bottom: 3em;
}

.read-more_btn:hover{
    background-color: var(--dark-blue);
}

.hero_img{
    order: -1;
    margin-bottom: 1.3em;
}

.tech_new_img{
    height: 140px;
    margin-right: 1.3em;
}

/* Nav */

.header_container{
    padding: 1.6em 0;
    position: relative;
}

.header_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden_menu{
    display: none;
    background-color: rgba(128, 128, 128,.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nav_menu{
    position: relative;
    background-color: white;
    height: 100%;
    width: 70%;
    left: 8.4em;
    padding: 1.6em ;
}

.close_button{
    margin-bottom: 5em;
    position: relative;
    left: 12em;
}


/* Main */

.main_grid{
    display: grid;
}

.sidebar{
    background-color: var(--dark-blue);
    padding: 1em;
    margin-bottom: 3.5em;
    color: var(--aside-text);
}

.border{
    border-bottom: 1px solid var(--body-text);
    margin-bottom: 1.4em;
}

.tech_news_flex{
    display: flex;
    margin-bottom: 3em;
    align-items: start;
}

.tech_news_info{
    display: flex;
    flex-direction: column;
}

.tech_news_no{
    order: -1;
}

@media(min-width:1000px){
    .mobile{
        display: none;
    }

    .desktop{
        display: block;
    }

    /*  Nav  */

    .nav_items{
        margin-left: 1em;
        color: var(--body-text);
        text-decoration: none;
    }

    .nav_items:hover{
        color: var(--soft-red);
        border-bottom: 1px solid var(--soft-red);
        padding-bottom: 5px;
    }

    /*  Main  */

    .title{
        width: 300px;
        font-size: 2.9em;
    }

    .main_grid{
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1em;
    }

    .hero_img{
        margin-bottom: 0;
    }

    .grid_1{
        grid-row: 2/3;
    }

    .grid_2{
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .grid_4{
        grid-column: 3/4;
        grid-row: 1/3;
    }

    .tech_new_img{
        height: 180px;
    }
}
